<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Actions</key>
        <array>
            <dict>
                <key>Title</key>
                <string>Translate by DeepL</string>
                <key>Image File</key>
                <string>deepl.png</string>
                <key>Regular Expression</key>
                <string>(?s)^.{1,1900}$</string>
                <key>AppleScript File</key>
                <string>launch_deepl.applescript</string>
                <!-- <key>Key Combo</key>
                <dict>
                    <key>keyChar</key>
                    <string>c</string>
                    <key>modifiers</key>
                    <integer>1048576</integer>
                </dict>
                <key>Key Combo</key>
                <dict>
                    <key>keyChar</key>
                    <string>c</string>
                    <key>modifiers</key>
                    <integer>1048576</integer>
                </dict> -->
            </dict>
        </array>
        <key>Extension Description</key>
        <string>Open DeepL Translator in a web browser with the selected text.</string>
        <key>Extension Identifier</key>
        <string>jp.caph.popclip.extension.deepl-translator-app</string>
        <key>Extension Name</key>
        <string>DeepL Translator</string>
        <key>Extension Image File</key>
        <string>deepl.png</string>
        <key>Apps</key>
        <array>
            <dict>
                <key>Bundle Identifier</key>
                <string>com.linguee.DeepLCopyTranslator</string>
                <key>Name</key>
                <string>DeepL Translator</string>
            </dict>
        </array>
        <key>Requirements</key>
        <array>
            <string>copy</string>
        </array>
    </dict>
</plist>
